<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>login</title>
</head>
<body>
    <form action="" method="POST">
        {{ csrfField() }}
        <div>
            <label for="username">Username</label>
            <input type="text" name="username" id="username" value="{{ flashMessages.get('username', '')}}">
            @if(flashMessages.has('errors.username'))
            <div>{{ flashMessages.get('errors.username') }}</div>
            @endif
        </div>

        <div>
            <label for="password">Password</label>
            <input type="password" name="password" id="password">
            @if(flashMessages.has('errors.password'))
            <div>{{ flashMessages.get('errors.password') }}</div>
            @endif
        </div>

        <button type="submit">Login</button>
        @if(flashMessages.has('auth'))
        <div>{{ flashMessages.get('auth') }}</div>
        @endif
    </form>
</body>
</html>