<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    @entryPointStyles('app')
    <title>Hypario blog</title>
</head>
<body>
    <div class="flex flex-col min-h-screen">
        <div class="bg-gray-800">
            <!-- navigation bar -->
            <div class="p-5 border-b border-gray-800 flex items-center">
                @if(auth.isLoggedIn)
                <button class="border border-gray-600 text-gray-600 px-4 py-2 rounded-full inline-flex items-center hover:bg-gray-600 hover:text-white">
                    <a  href="{{ route('ArticlesController.create') }}">Write article</a>
                </button>
                @endif
                
                <a href="{{ route('/') }}" class="text-white mx-5">Home</a>
                <a href="{{ route('articles.index') }}" class="text-white mx-5">Articles</a>
            </div>
        </div>

        <div class="bg-gray-900 pt-12 pb-6 flex-1">
            <div class="container mx-auto">
                @!section('body')
            </div>
        </div>
    </div>
</body>
</html>