<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ article.title }}</title>
</head>
<body>
    <a href="{{ route('ArticlesController.index') }}">Voir les articles</a>

    <section>
        <h1>{{ article.title }}</h1>
        <p>{{ article.content }}</p>
        <div>par <strong>{{ article.owner.username }}</strong> le {{ article.createdAt.toLocaleString({locale: 'fr-FR'}) }}, mis à jour le {{ article.updatedAt.toLocaleString({locale: 'fr-FR'}) }}</div>
    </section>
</body>
</html>